
{% extends "base.html" %}



{% block content %}

<section class="container-cartelera">




    <div id="listaPeliculasConProgramacion">

        <div class="movie-container-cartelera">
            <div class="movie movie--preview movie--full release row justify-content-between">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="movie__images"><img alt="" src="../static/images/1663262682-1772.jpeg"
                            class="movie__images_cartelera"></div>
                </div>
                <div class="col-sm-9 col-md-7 col-lg-9"><a href="Pelicula.php?idDB=84"
                        class="movie__title link--huge">ARGENTINA, 1985</a>
                    <p class="movie__time">140 min</p>
                    <p class="movie__option"><strong>Género: </strong>Drama</p>
                    <p class="movie__option"><strong>Clasificación: </strong>+13</p>
                    <p class="movie__option"><strong>Tipo: </strong>2D</p>
                    <p class="movie__option"><strong>Fecha de Estreno: </strong>29/09/2022</p>
                    <p class="movie__option sinopsis"><strong>Sinopsis: </strong>Argentina, 1985 está inspirada
                        en la
                        historia real de Julio Strassera, Luis Moreno Ocampo y su joven equipo jurídico que se
                        atrevieron a
                        acusar, contra viento y marea, a contrarreloj y bajo constante amenaza, a la más
                        sangrienta
                        dictadura militar argentina. Una batalla de David contra Goliat, con los héroes menos
                        esperados.

                    </p>
                    <div class="buttons-cards">
                        <div>
                            <i class="fa-solid fa-ticket fa-3x"></i>
                        </div>
                        <div>
                            <button type="button" class="btn btn-compra-card ">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="movie-container-cartelera">
            <div class="movie movie--preview movie--full release row justify-content-between">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="movie__images"><img alt="" src="../static/images/1663262682-1772.jpeg"
                            class="movie__images_cartelera"></div>
                </div>
                <div class="col-sm-9 col-md-7 col-lg-9"><a href="Pelicula.php?idDB=84"
                        class="movie__title link--huge">ARGENTINA, 1985</a>
                    <p class="movie__time">140 min</p>
                    <p class="movie__option"><strong>Género: </strong>Drama</p>
                    <p class="movie__option"><strong>Clasificación: </strong>+13</p>
                    <p class="movie__option"><strong>Tipo: </strong>2D</p>
                    <p class="movie__option"><strong>Fecha de Estreno: </strong>29/09/2022</p>
                    <p class="movie__option sinopsis"><strong>Sinopsis: </strong>Argentina, 1985 está inspirada
                        en la
                        historia real de Julio Strassera, Luis Moreno Ocampo y su joven equipo jurídico que se
                        atrevieron a
                        acusar, contra viento y marea, a contrarreloj y bajo constante amenaza, a la más
                        sangrienta
                        dictadura militar argentina. Una batalla de David contra Goliat, con los héroes menos
                        esperados.

                    </p>
                    <div class="buttons-cards">
                        <div>
                            <i class="fa-solid fa-ticket fa-3x"></i>
                        </div>
                        <div>
                            <button type="button" class="btn btn-compra-card ">Comprar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</section>


{% endblock %}
